@import '../../style/vars.scss';
@import '../../style/template.scss';

.nav {
    display: flex;
}

.item {
    text-decoration: none;
    padding-left: 2vw;
    color: $color-white;
}

.item:active {
    color: $color-red;
}