@import '../../style/vars.scss';
@import '../../style/template.scss';

.container {
    min-height: 10vh;
    background-color: $color-green;
    color: $color-white;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-items: center;
    align-items: center;
    padding: 0.5vw;
}
