@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-lightgreen: #B8CABA;
$color-green: #5A6B5D;
$color-white: #E1E1E1;
$color-red: #97010E;

$font1: 'Roboto', sans-serif;



