@import '../../style/vars.scss';
@import '../../style/template.scss';

.container{
    width: 60vw;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    justify-items: center;
}

.button {
    border-radius: 50%;
    border: none;
}

.icon {
    height: 1.5vw;
    width: 1.5vw;
    color: $color-green;
}